<% title "Ajouter une opération pour " + @infojoueur['pseudo'] %>
<div class="sidebar">
    <div class="users">
        <% @players.each do |player| %>
            <a class="user" href="<%= players_path %>/<%= player['idjoueur'] %>"><%= player['pseudo'] %></a>
        <% end %>
    </div>
    <div class="actions">
        <a href="<%= new_player_path %>" class="action-button"><%= fa_icon "user-plus"%> Ajouter un joueur</a>
    </div>
</div>
<div class="content-wrapper">
    <div class="content-inner">
        <%= form_with scope: :operation, url: player_operations_path, local: true do |form| %>
            <div class="header">
                Ajouter une opération pour <%= @infojoueur['pseudo'] %>
            </div>
            <div class="content">
                <div><%= form.label :nomoperation, :"Intitulé" %></div>
                <div><%= form.text_field :nomoperation %></div>
                <div><%= form.label :montant, :"Montant" %></div>
                <div><%= form.number_field :montant, :step => "0.5" %></div>
            </div>
            <div class="actions-2">
                <%= form.submit :Ajouter %>
                <%= link_to "Retour", player_operations_path(@infojoueur['idjoueur']) %>
            </div>
        <% end %>
    </div>
</div>